@using IMDB.Domain.CardViewModel;
@model ProfileViewModel ;

<!-- header section start -->
<section class="breadcrumb-area">
	<div class="container">
	</div>
</section><!-- breadcrumb area end -->
<!-- transformers area start -->
<section class="transformers-area">
	<div class="container">
		<div class="transformers-box">
			<div class="row flexbox-center">
				<div class="col-lg-7">
					<div class="transformers-content mtr-30">
						<h1>@Model.User.Name</h1>
						<a href="#" class="theme-btn">Biography</a>
						<ul>
							<li>
								<div class="transformers-left">
									RegisterDate:
								</div>
								<div class="transformers-right">
									@Model.User.RegisterDate
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Phone:
								</div>
								<div class="transformers-right">
									@Model.User.Phone
								</div>
							</li>
							<li>
								<div class="transformers-left">
									Email:
								</div>
								<div class="transformers-right">
									@Model.User.Email
								</div>
							</li>
							
							<li>
								<div class="transformers-left">
									Follow:
								</div>
								<div class="transformers-right">
									<a href="#"><i class="icofont icofont-social-facebook"></i></a>
									<a href="#"><i class="icofont icofont-social-twitter"></i></a>
									<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
									<a href="#"><i class="icofont icofont-youtube-play"></i></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- transformers area end -->

